<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="theme-color" content="#DB0000"/>
    <meta name="description" content="Kunjungi dan nikmati makanan di tempat restoran zearesto">
    
	<link rel="apple-touch-icon" href="/public/icons/zearesto-192x192.png">
	<link rel="manifest" href="./public/app.webmanifest"/>
	<link rel="icon" href="../public/images/heros/zearesto.jpeg">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<script src="https://use.fontawesome.com/b070c8f1df.js"></script>
	<title>ZEARESTO</title>
</head>
<body id="body">
	<a tabindex="0" href="#maincontent" class="skip-link">Menuju ke konten</a>
	<header>
		<div class="container">
			<h2 tabindex="0" class="title"><span><img id="img" class="logos" alt="logo"></span><span tabindex="0" class="title">ZeaResto</span></h2>
			<a tabindex="0" id="hamburger" href="#" class="hamburger">
				<div class="bar"></div>
			</a>
			<nav>
				<a tabindex="0" href="#/home">Home</a>
				<a tabindex="0" href="#/favorite">Favorite</a>
				<a tabindex="0" href="https://github.com/Fauziahziah" target="_blank" rel="noopener">About Us</a>
			</nav>
		</div>
	</header>
    </body>
</html>